{{#if editingTopic}}
    <div class="tagger-tags-view edit">
        <label>Tags:</label>
        {{#if new_tags}}
            {{#each new_tags}}
                <span class="tagger-tag" >{{this}} <i {{action removeTag this }} class='fa fa-times'></i></span>
            {{/each}}
        {{/if}}
        {{tags-selector tags=new_tags}}
    </div>
{{else}}
    {{#if model.tags}}
    	<div class="tagger-tags-view">
    		<span>tagged:</span>
    	  {{#each model.tags}}
    		<a href="/tag/{{unbound this}}" class="tagger-tag">{{this}}</a>
    	  {{/each}}
    	</div>
    {{/if}}
{{/if}}